# Eclipse stuff
.cproject
.project
.pydevproject
.settings/
.svn/

# PELE directories
conf/
Data/
Documents/
logs/
platforms/
Release/
Debug/
Doxyfile
YaleModSource/
scripts/

# PELE specific files not related to ANM
src/AtomPulling/
src/CheckFix/
src/Energy/
src/Exceptions/
src/GPU/
src/HydrogenBond/
src/allTests.cpp
src/allTests.h
src/main.cpp
src/ANM/Algorithms/AnmCartesian/
src/ANM/Options/
src/ANM/Parameters/
src/ANM/Pickers/
src/PELE/
src/Perturbation/
src/RelativeCoordinates/
src/SideChainPrediction/
src/ANM/AnmAlgorithmBuilder.cpp
src/ANM/AnmAlgorithmBuilder.h
src/ANM/AnmCalculatorBuilder.cpp
src/ANM/AnmCalculatorBuilder.h
src/ANM/ModesCalculator/Cartesian/
src/ANM/ModesCalculator/ModesCalculatorBuilder.cpp
src/ANM/ModesCalculator/ModesCalculatorBuilder.h
src/ANM/ModesCalculator/PreCalculated/
src/ANM/NodeListGenerator/
src/ANM/TargetUpdater/AnmCartesianTargetUpdater.cpp
src/ANM/TargetUpdater/AnmCartesianTargetUpdater.h
src/ANM/TargetUpdater/Test/
src/ANM/Test/
src/ANM/Tools/AnmMagnitudeCalculator.cpp
src/ANM/Tools/AnmMagnitudeCalculator.h
src/ANM/Tools/AnmMoveVectorCalculator.cpp
src/ANM/Tools/AnmMoveVectorCalculator.h
src/ANM/Tools/DirectionSelection/
src/ANM/Tools/ElasticNetworkModel.h
src/ANM/Tools/MixingCases.h
src/ANM/Tools/MoveMagnitudeGenerationCases.h
src/ANM/Tools/Test/
src/Inout/
src/Minimizers/
src/Molecules/
src/MonteCarlo/
src/Tasks/
src/Tools/
src/System/Context.cpp
src/System/Context.h
src/System/PotentialParameterizations.h
src/System/StateUpdater.cpp
src/System/StateUpdater.h
src/System/System.cpp
src/System/System.h
src/System/SystemVars.cpp
src/System/SystemVars.h
src/System/Test/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
